AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^www\.(.*)$
    RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

    # we check if file no exist
    RewriteCond %{REQUEST_FILENAME} !-f
    # no, so we redirect to our backend web controller
    RewriteRule ^(.*)\.adm$ backend.php?_url=/$1 [QSA,L]

    # we check if file no exist
    RewriteCond %{REQUEST_FILENAME} !-f
    # no, so we redirect to our fronend web controller
    RewriteRule ^(.*)$ frontend.php?_url=/$1 [QSA,L]
</IfModule>